In [34]:
combustible = 0

def reporte (tanque1, tanque2, tanque3):
    combustible = tanque1 + tanque2 + tanque3
    print ("tanque 1:", tanque1, "\ntanque 2:", tanque2, 
    "\ntanque 3:", tanque3, "\ncombustible total:", combustible)
    return combustible

In [50]:
>>> reporte (52, 47, 22)

print (combustible)

tanque 1: 52
tanque 2: 47
tanque 3: 22
combustible total: 121
0

In [54]:
def promedio (tanque1, tanque2, tanque3):
    combustible = tanque1 + tanque2 + tanque3
    return combustible / 3

In [55]:
>>> promedio (74, 56, 14)

48.0

In [56]:
def informe (hora_lanzamiento, tiempo_vuelo, destino, tanque1, tanque2, tanque3):
    return f"""
    Mision hacia: {destino}
    Duracion del viaje: {tiempo_vuelo} hrs
    Combustible: {tanque1 + tanque2 + tanque3} litros"""

    Mision hacia Jupiter
    Duracion del viaje: 56 hrs
    Combustible: 1210 litros

In [57]:
>>> informe (23, 56, "Jupiter", 456, 754, 569)

'\n    Mision hacia Jupiter\n    Duracion del viaje: 56 hrs\n    Combustible: 1210 litros\n    '

In [59]:
def informe (hora_lanzamiento, tiempo_vuelo, destino, tanque1, tanque2, tanque3):
    return f"""
    Mision hacia: {destino}
    Duracion del viaje: {tiempo_vuelo} hrs
    Combustible: {tanque1 + tanque2 + tanque3} litros
    Tanque 1: {tanque1} litros
    Tanque 2: {tanque2} litros
    Tanque 3: {tanque3} litros
    """

In [60]:
>>> informe (23, 56, "Jupiter", 456, 754, 569)

'\n    Mision hacia: Jupiter\n    Duracion del viaje: 56 hrs\n    Combustible: 1779 litros\n    Tanque 1: 456 litros\n    Tanque 2: 754 litros\n    Tanque 3: 569 litros\n    '